<script type="text/x-handlebars">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="index">
  <div class="hero-unit">
    <div class="inner">
      <h1>{{title}}</h1>
      <p>Recognize programming language by "Hello World" code snippet</p>
      {{#if isLoading}}
        <a class="pure-button pure-button-secondary pure-button-large" disabled>Play</a>
      {{else}}
        <a class="pure-button pure-button-secondary pure-button-large" {{action "play"}}>Play</a>
      {{/if}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="game">
  <div class="container">
    {{partial "header"}}
    
    {{#with response}}
      <div class="status">
        {{#with game}}
        <span>Lives: {{lives}}</span>
        <span>Score: {{score}}</span>
        {{/with}}
      </div>
      
      {{#if variant}}
        {{#with variant}}
        <pre>
          <code>
            {{{snippet}}}
          </code>
        </pre>
        
        <div class="answers">
          <ul class="answer-types">
            {{#each options}}
              <li><a class="pure-button pure-button-secondary" href="#">{{name}}</a></li>
            {{/each}}
          </ul>
          <ul class="result"></ul>
        </div>
        {{/with}}
      {{/if}}
    {{/with}}
  </div>
  
  {{partial "footer"}}
</script>

<script type="text/x-handlebars" data-template-name="stats">
  <div class="container">
    {{partial "header"}}
    
    <h2>Stats</h2>
    <table>
      <tr>
        <td>Games</td>
        <td>100500</td>
      </tr>
      <tr>
        <td>Easiest language</td>
        <td>C++</td>
      </tr>
      <tr>
        <td>Hardest language</td>
        <td>OMGROFL</td>
      </tr>
      <tr>
        <td>Highest score</td>
        <td>100500</td>
      </tr>
    </table>
  </div>

  {{partial "footer"}}
</script>

<script type="text/x-handlebars" data-template-name="_header">
  <h1 class="clearfix"><a href="/#/game">{{title}}</a> <a href="/#/stats" class="pure-button">Stats</a></h1>
</script>

<script type="text/x-handlebars" data-template-name="_footer">
  <footer class="container clearfix">
    <p class="pull-left">
      &copy; <a href="http://krasnoukhov.com/">Dmitry Krasnoukhov</a> & <a href="https://github.com/kr3ved">Slava Zagorodniy</a>
      <br />
      Highly inspired by <a href="http://greatlanguagegame.com/" target="_blank">Great Language Game</a>
    </p>
    
    <iframe class="pull-right" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{host}}&amp;width=107&amp;height=20&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=false" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:107px; height:20px;"></iframe>
    <iframe class="pull-right" src="http://platform.twitter.com/widgets/tweet_button.1378258117.html#_=1378492153846&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;size=m&amp;text={{title}}&amp;url=http%3A%2F%2F{{host}}%2F" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:107px; height:20px;"></iframe>
    <iframe class="pull-right" src="http://ghbtns.com/github-btn.html?user=krasnoukhov&repo=langgame&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:107px; height:20px;"></iframe>
  </footer>
</script>
