<script type="text/x-handlebars">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="index">
  <div class="hero-unit" {{bind-attr class="isLoading"}}>
    <div class="inner">
      <h1>{{title}}</h1>
      <p>{{description}}</p>
      <a class="action-button pure-button pure-button-secondary pure-button-large" {{action "play"}}>Play</a>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="game">
  <div class="container" {{bind-attr class="isLoading"}}>
    {{partial "header"}}
    
    {{#with response}}
      {{#if variant}}
        <div class="status">
          {{#with game}}
          <span>Lives: {{lives}}</span>
          <span>Score: {{score}}</span>
          {{/with}}
        </div>
        
        {{#with variant}}
          <pre>
            <code>{{{../../../highlightedSnippet}}}</code>
          </pre>
          
          <div class="answers">
          {{#if name}}
            <ul class="result">
              <li>
                <h2>Wrong! The answer was {{name}}</h2>
                <a class="pure-button pure-button-error" {{action "next"}}>
                  {{#if live}}
                  Next
                  {{else}}
                  Gameover
                  {{/if}}
                </a>
              </li>
            </ul>
          {{else}}
            <ul class="answer-types">
              {{#each options}}
                <li>
                  <a class="action-button pure-button pure-button-secondary" {{action "choose" key}}>{{name}}</a>
                </li>
              {{/each}}
            </ul>
          {{/if}}
          </div>
        {{/with}}
      {{else}}
        <div class="gameover">
          <h3>Your score is {{#with game}}{{score}}{{/with}}!</h3>
          <a href="/#/" class="pure-button pure-button-secondary">Play again</a>
          <del class="clearfix"></del>
          
          {{#if ../../hasSurvived}}
          <a href="http://theoldreader.com/kittens/" target="_blank">
            <img src="http://theoldreader.com/kittens/500/350/" alt="Kittens!" />
          </a>
          <del class="clearfix"></del>
          <i>(refresh to see more winner kittens)</i>
          {{/if}}
        </div>
      {{/if}}
    {{/with}}
  </div>
  
  {{partial "footer"}}
</script>

<script type="text/x-handlebars" data-template-name="stats">
  <div class="container">
    {{partial "header"}}
    
    {{#with model}}
    <h2>Stats</h2>
    <table>
      <tr>
        <td>Games</td>
        <td>{{games}}</td>
      </tr>
      <tr>
        <td>Languages count</td>
        <td>{{variants}}</td>
      </tr>
      <tr>
        <td>Competion rate</td>
        <td>{{completion_rate}}%</td>
      </tr>
      <tr>
        <td>Easiest language</td>
        {{#with easiest}}
          <td>{{name}} ({{value}}%)</td>
        {{/with}}
      </tr>
      <tr>
        <td>Hardest language</td>
        {{#with hardest}}
          <td>{{name}} ({{value}}%)</td>
        {{/with}}
      </tr>
      <tr>
        <td>Highest score</td>
        <td>{{highest}}</td>
      </tr>
    </table>
    {{/with}}
  </div>

  {{partial "footer"}}
</script>

<script type="text/x-handlebars" data-template-name="_header">
  <h1 class="clearfix"><a href="/#/game">{{title}}</a> <a href="/#/stats" class="pure-button">Stats</a></h1>
</script>

<script type="text/x-handlebars" data-template-name="_footer">
  <footer class="container clearfix">
    <p class="pull-left">
      <a href="http://krasnoukhov.com/" target="_blank">Dmitry Krasnoukhov</a> & <a href="https://github.com/kr3ved" target="_blank">Slava Zagorodniy</a>
      <br />
      Highly inspired by <a href="http://greatlanguagegame.com/" target="_blank">Great Language Game</a>
    </p>
    
    {{#each iframes}}
      <iframe class="pull-right" {{bind-attr src="this"}} allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:107px; height:20px;"></iframe>
    {{/each}}
  </footer>
</script>
